**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*./.terraform.lock.hcl
terraform/.terraform.lock.hcl
*.terraform.lock.hcl
venv/
.idea/
*.zip
../.DS_Store
.DS_Store
*.DS_Store